.imgBg{
    width: 100%;
    height: 47.5rem;
}

.container-fluid{
    position: relative;
    overflow-x: hidden;
    padding: 0%;
    
    
}
.text{
    text-decoration: none;
    color: black;
}

@media (max-width: 575.98px) { 
    .imgBg{
        width: 100%;
        height: auto;
    }
 }