::ng-deep body, html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


.title{
    font-size: 150%;
}

.imgCarousel{
    width: 42rem;
    height: 23rem;
}

@media (max-width: 575.98px) { 
    .imgCarousel{
        width: 100%;
        height: 14rem;
    }
 }

 .carouselInner{
  margin-bottom: 85px;
 }

 .carousel{
    margin-top: 20px;
 }
  
  .box {
    max-width: 25rem;
    max-height: 20rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .image {
    width: 100%;
    max-width: 420px;
    height: auto;
    opacity: 0.75;
    overflow: hidden;
    transition: 1.5s;
  }
  
  .image:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition-timing-function: ease-in;
    transition: 1s;
  }
  
.button{
    position: relative;
}

