<!--Teste-->
<div class="container mb-4">
  <p class="display-3 lead text-center mb-5 mt-5"><strong>Portfolio</strong></p>
  <div class="row ">
    <div class="col-md">
      <p class="text text-center title lead mt-2">Real Estate Agency</p>
      <div class="box">
        <a (click)="open(mymodal,0)"><img class="image" src="../../../assets/images/detailedProject/realEstateMain.jpg"></a>
      </div>
    </div>
    <div class="col-md">
      <p class="text text-center title lead mt-2">Online Banking</p>
      <div class="box">
        <a (click)="open(mymodal,1)"><img class="image" src="../../../assets/images/detailedProject/bankingMain.jpg"></a>
      </div>
    </div>
    <div class="col-md">
      <p class="text text-center title lead mt-2">Crypto Prices</p>
      <div class="box">
        <a (click)="open(mymodal,2)"><img class="image" src="../../../assets/images/detailedProject/cryptoMain.jpg"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <p class="text text-center title lead mt-4">Timer Countdown</p>
      <div class="box">
        <img class="image" src="../../../assets/images/detailedProject/timerMain.jpg">
      </div>
    </div>
    <div class="col-md">
      <p class="text text-center title lead mt-4">Timer Countdown</p>
      <div class="box">
        <img class="image" src="https://unsplash.it/400/300?image=486">
      </div>
    </div>
    <div class="col-md">
      <div class="box">
        <p class="text text-center title lead mt-4">Timer Countdown</p>
        <img class="image" src="https://unsplash.it/400/300?image=514">
      </div>
    </div>
  </div>
</div>
   
<!--Modal-->
<ng-template #mymodal let-modal>
  <div *ngIf="dataFull">
    <div class="modal-header">
    <p class="col-12 modal-title text-center display-5 lead" id="modal-basic-title">{{dataFull.title}}</p>
  </div>
  <div class="modal-body ">
    <div class="container text-center">
        <div class="mb-4">{{dataFull.description}}</div>
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let img of dataFull.images; let i = index">
              <div class="picsum-img-wrapper">
                <img class="imgCarousel" src="../../../assets/images/detailedProject/{{img}}.jpg" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <p>Image number #{{i+1}}.</p>
              </div>
            </ng-template>
          </ngb-carousel>
    </div>
    <div *ngIf="dataFull.tech">
    <p class="display-6 lead text-center mt-3 pb-2">Tech Used</p>
    <div *ngFor="let tech of dataFull.tech">
        <ul class="list-group">
            <li class="list-group-item">
              <a>{{tech}} <img src="../../../assets/images/detailed tech/{{tech}}.jpg" height="50" alt=""></a>
            </li>
          </ul>
    </div>
  </div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</div>
<div *ngIf="!dataFull">
    <div class="modal-header">
        <p class="col-12 modal-title text-center display-5 lead" id="modal-basic-title">Not Found</p>
      </div>
      <div class="modal-body ">
        <div class="container text-center">
            <div class="mb-4">Project Not Found or error with data files, please try again later </div>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
      </div>
</div>
</ng-template>