<div class="container mt-4">
    <p class="display-3 lead text-center mb-5 mt-5">Portfolio</p>
    <div class="row m-2">
        <div class="col border m-2">
            <p class="title text-center mt-2">Real Estate Agency</p>
            <p class="lead">A Real Estate agency that allows users to view and follow property, and agents to do all things mentioned previously plus managing the properties</p>
            <div class="container d-flex justify-content-center">
                <a href="https://github.com/franciscovieiracode" target="_blank"><img src="../../../assets/images/github.jpg" height="30" alt="" class="m-2"></a>
                <button (click)="open(mymodal,0)" class="mb-2 btn btn-outline-dark btn-sm">Detailed info</button>
            </div>
        </div>
        <div class="col border m-2">
            <p class="title text-center mt-2">Crypto Prices</p>
            <p class="lead">Updated prices and more of top 30 cryptocurrencies by marketcap, data retrived from Binance public API and its being refreshed every 5 seconds</p>
            <div class="extra container d-flex justify-content-center">
                <a href="https://github.com/franciscovieiracode" target="_blank"><img src="../../../assets/images/github.jpg" height="30" alt="" class="m-2"></a>
                <button (click)="open(mymodal,1)" class="mb-2 btn btn-outline-dark btn-sm">Detailed info</button>
            </div>
        </div>
        <div class="col border m-2">
            <p class="title text-center mt-2">Real Estate Agency</p>
            <p class="lead">A Real Estate agency that allows users to view and follow property, and agents to do all things mentioned previously plus managing the properties</p>
            <div class="container d-flex justify-content-center">
                <a href="https://github.com/franciscovieiracode" target="_blank"><img src="../../../assets/images/github.jpg" height="30" alt="" class="m-2"></a>
                <button (click)="open(mymodal,2)" class="mb-2 btn btn-outline-dark btn-sm">Detailed info</button>
            </div>
        </div>
    </div>
    {{ '' // next row }}
    <div class="row m-2">
        <div class="col border m-2">
            <p class="title text-center mt-2">Real Estate Agency</p>
            <p class="lead">A Real Estate agency that allows users to view and follow property, and agents to do all things mentioned previously plus managing the properties</p>
            <div class="container d-flex justify-content-center">
                <a href="https://github.com/franciscovieiracode" target="_blank"><img src="../../../assets/images/github.jpg" height="30" alt="" class="m-2"></a>
                <button (click)="open(mymodal,3)" class="mb-2 btn btn-outline-dark btn-sm">Detailed info</button>
            </div>
        </div>
        <div class="col border m-2">
            <p class="title text-center mt-2">Real Estate Agency</p>
            <p class="lead">A Real Estate agency that allows users to view and follow property, and agents to do all things mentioned previously plus managing the properties</p>
            <div class="container d-flex justify-content-center">
                <a href="https://github.com/franciscovieiracode" target="_blank"><img src="../../../assets/images/github.jpg" height="30" alt="" class="m-2"></a>
                <button (click)="open(mymodal,4)" class="mb-2 btn btn-outline-dark btn-sm">Detailed info</button>
            </div>
        </div>
        <div class="col border m-2">
            <p class="title text-center mt-2">Real Estate Agency</p>
            <p class="lead">A Real Estate agency that allows users to view and follow property, and agents to do all things mentioned previously plus managing the properties</p>
            <div class="container d-flex justify-content-center">
                <a href="https://github.com/franciscovieiracode" target="_blank"><img src="../../../assets/images/github.jpg" height="30" alt="" class="m-2"></a>
                <button (click)="open(mymodal,5)" class="mb-2 btn btn-outline-dark btn-sm">Detailed info</button>
            </div>
        </div>
    </div>
</div>
<!--Horizontal line-->
<div class="hl mt-3 p-2"></div>
   
<!--Modal-->
<ng-template #mymodal let-modal>
  <div *ngIf="dataFull">
    <div class="modal-header">
    <p class="col-12 modal-title text-center display-5 lead" id="modal-basic-title">{{dataFull.title}}</p>
  </div>
  <div class="modal-body ">
    <div class="container text-center">
        <div class="mb-4">{{dataFull.description}}</div>
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let img of dataFull.images; let i = index">
              <div class="picsum-img-wrapper">
                <img class="imgCarousel" src="../../../assets/images/detailedProject/{{img}}.jpg" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <p>Image number #{{i+1}}.</p>
              </div>
            </ng-template>
          </ngb-carousel>
    </div>
    <div *ngIf="dataFull.tech">
    <p class="display-6 lead text-center mt-3 pb-2">Used Tech</p>
    <div *ngFor="let tech of dataFull.tech">
        <ul class="list-group">
            <li class="list-group-item">
              <a>{{tech}} <img src="../../../assets/images/detailed tech/{{tech}}.jpg" height="50" alt=""></a>
            </li>
          </ul>
    </div>
  </div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</div>
<div *ngIf="!dataFull">
    <div class="modal-header">
        <p class="col-12 modal-title text-center display-5 lead" id="modal-basic-title">Not Found</p>
      </div>
      <div class="modal-body ">
        <div class="container text-center">
            <div class="mb-4">Project Not Found or error with data files, please try again later </div>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
      </div>
</div>
</ng-template>