::ng-deep .aboutBg{
    width: 100%;
    height: auto;
    background-size:cover;
    position:relative;
}

.all{
    position: relative;
    height: auto;
}

.container { 
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 80%;
    font-size: calc((22vw - 1.5rem) / 10);
  }

  .name{
    font-size: calc((30vw - 1.5rem) / 10);
  }

.description{
    max-width: 50%;
    line-height: 180%;
}
.button{
    padding: 2%;
}

@media (max-width: 767.98px) {
    .container{
        font-size: calc((26vw - 1.5rem) / 10);
    }
    .name{
        font-size: calc((30vw - 1.5rem) / 10);

    }
    .btn{
        font-size: 3px;
    }
 }
