<div *ngIf="getState()==true">
    <app-header></app-header>
    <app-about id="about"></app-about>
    <app-portfolio id="portfolio"></app-portfolio>
    <app-contact id="contact"></app-contact>
    <button class="btn btn-danger btn-floating btn-sm" id="btn" (click)="topFunction()">Back to the top</button>
</div>
<div *ngIf="getState() ==false">
    <app-header></app-header>
    <div class="spinner">
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>
